[Unit]
Description=Ghostx Web Application
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/ghostx
Environment="PATH=/var/www/ghostx/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment="FLASK_ENV=production"
ExecStart=/var/www/ghostx/.venv/bin/poetry run flask run --host=0.0.0.0 --port=80
Restart=always

[Install]
WantedBy=multi-user.target 