Flask
Flask-Login
Flask-SQLAlchemy
Flask-WTF
Flask-Session
Flask-Limiter
Flask-Migrate
SQLAlchemy
Werkzeug
Jinja2
python-dotenv
waitress>=3.0.1
beautifulsoup4
gunicorn
email-validator
cryptography
requests
pytest
black
flake8
mypy
coverage
python-dateutil
pytz
bcrypt
itsdangerous
click
MarkupSafe
six
typing_extensions
urllib3
certifi
charset-normalizer
idna
passlib>=1.7.4